body
{
    background-color:black;
    font-family:arial;
    color:white;
}

h1
{
    color:grey;
    font-family:verdana;
}

/*Change the appearance of maindiv class*/
.maindiv
{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin:auto;
    line-height:2em;
}
.text-highlight
{
    /*Highlight certain text*/
    background-color:yellow;
}
.table1
{
    /*Align the table*/
    margin:auto;
}
#result
{
    margin-left: 90px;
}